* {
    box-sizing: border-box;
    margin : 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height : 100vh;
    background: url('./image/relax-background.jpg') no-repeat center center/cover;
    color: #fff;
}

body::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    background: rgba(34, 34, 34, 0.6);
}

.container {
    /* border: 3px solid #fff; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 400px;
    position: relative;
    margin: auto;
}

.circle {
    /* border: 3px solid #fff; */
    background-color: #010f1c;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.gradient-circle {
    background: conic-gradient(
        #55b7a4 0%,
        #4ca493 40%,
        #fff 40%,
        #fff 60%,
        #336d62 60%,
        #2a5b52 100%
      );
    width: 420px;
    height: 420px;
    border-radius: 50%;
    position: absolute;
    z-index: -2;
}

.pointer {
    background-color: #fff;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    display: block;
}

.pointer-container {
    /* border: 1px solid #df2020; */
    position: absolute;
    top: -40px;
    left: 185px;
    width: 20px;
    height: 240px;
    animation: rotate 7.5s linear forwards infinite;
    transform-origin: bottom center;
}

.container.grow {
    animation: grow 3s linear forwards;
}

.container.shrink {
    animation: shrink 3s linear forwards;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes grow {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.2);
    }
}

@keyframes shrink {
    from {
        transform: scale(1.2);
    }

    to {
        transform: scale(1);
    }
}