* {
    box-sizing: border-box;
    margin : 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height : 100vh;
    margin: auto;
}

.draggable-list {
    list-style-type: none;
    padding: 0;
    margin: 30px;
    border: 1px solid rgb(240, 240, 240);
}

.draggable-list li {
    display: flex;
    background-color: #fff;
    flex: 1; /* One value, unitless number: flex-grow */
    /* 
        flex : flex-grow | flex-shrink | flex-basis
        flex-basis => 항목의 크기를 결정한다. flex를 지정하지 않고, display :flex만 하면, flex 항목들이 각 내용물 크기만큼 공간 차지
        flex-grow =>  flex-grow 값을 1로 지정하면 사용가능한 공간은 각 항목에게 동일하게 분배되며, 각 항목은 주축을 따라 분배받은 값만큼 사이즈를 늘려 공간을 차지
        flex-shrink => 주축의 공간이 부족할때 각 항목의 사이즈를 줄이는 방법을 정의
    */
}

.draggable-list li:not(:last-of-type) { /* 마지막 li를 제외한, 전체 li를 선택*/
    border-bottom: 1px solid rgb(241, 241, 241);
}

.draggable-list .list-index {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    height: 60px;
    width: 60px;
    background-color: rgb(211, 211, 211);
}

.draggable-list .list-name {
    margin: 0 20px 0 0;
}

.draggable {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    flex: 1;
}

#check-btn {
    border: none;
    background-color: rgb(206, 205, 205);
    width: 150px;
    height: 40px;
    font-size: 20px;
}

h1 {
    margin-bottom: 40px;
}

p {
    font-size: 18px;
}