:root {
    --primary-color: #191a1d;
    --concept-color : #28acc0;
}

* {
    box-sizing: border-box;
    margin : 0;
    padding: 0;
}

body {
    font-family: 'Quicksand', sans-serif !important;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    background-color: var(--primary-color);
    transition: margin-left .5s;
    padding: 16px;
}

/* sidebar menu */
.sidebar-menu {
    position: absolute;
    height: 100vh;
    width: 0;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #191a1df3;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar-menu-close-btn {
    position: relative;
    color: #aaaaaa;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 1rem;
    margin-left: 1rem;
}

.sidebar-menu-close-btn:hover,
.sidebar-menu-close-btn:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.sidebar-menu a {
    /* position: relative; */
    text-decoration: none;
    margin-left: 1.5rem;
    color: #fff;
    font-size: 2rem;
    font-weight: 800;
}

.sidebar-menu a:hover {
    text-decoration: none;
    color: var(--concept-color);
}

.sidebar-menu li {
    margin: 1rem;
    list-style-type: none;
}

#sidebar-menu-btn {
    position: absolute;
    margin-left: 0;
    margin-bottom: 0.5rem;
    left: 2rem;
    color: #fff;
    font-size: 2.5rem;
    cursor: pointer;
}

/* showcase */
.showcase {
    width: 100%;
    height: 96vh;
    position: relative;
    background: linear-gradient(189deg, var(--primary-color) 90%, #fff 3%);
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    'image-profile image-profile'
    'showcase-about showcase-skill';
    grid-gap: 1rem;
    align-items: center;
    justify-content: center;
}

/* image profile */
.image-profile {
    grid-area: image-profile;
}

.image-profile-background {
    float: right;
    width: 15rem;
    height: 99%;
    border-radius: 50%;
    margin-right: 6rem;
    background-color: #05050586;
}

.image-profile img{
    float: right;
    margin-right: 1rem;
    height: 99%;
    width: 15rem;
    border-radius: 50%;
}

/* showcase message content */
.showcase-about {
    grid-area: showcase-about;
    color: #fff;
    margin-bottom: 6rem;
}

.showcase-about > div {
    padding: 1rem;
    margin-left: 1.5rem;
}
.showcase-about-1-content {
    font-weight: 800;
}

#showcase-portfolio-btn {
    padding: 1rem;
    font-size: 1.8rem;
    font-weight: 500;
    border-radius: 10px;
    width: 11rem;
    float: right;
    background-color: var(--concept-color);
}

/* showcase skill progress bar */
.showcase-skill {
    grid-area: showcase-skill;
    color: #fff;
    border-radius: 3px;
    margin-right: 1rem;
    padding: 1rem;
    margin-bottom: 5rem;
}

.progress {
    width: 90%;
    margin: 1rem;
}

.showcase-skill > p {
    margin-left: 1rem;
}

/* showcase modal */
.showcase-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.showcase-modal-content {
    margin: 5% auto;
    background-color: #fefefe;
    border: 1px solid #888;
    width: 60%;
    height: 90%;
    text-align: center;
}

.showcase-modal-close {
    color: #aaaaaa;
    float: right;
    font-size: 30px;
    font-weight: bold;
    margin-right: 1rem;
}
  
.showcase-modal-close:hover,
.showcase-modal-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.showcase-modal-background {
    padding: 1rem;
    margin: 1rem auto;
    height: 45%;
    width: 75%;
    background-color: rgba(211, 210, 210, 0.26);
}
.showcase-modal-content img{
   width: 100%;
   height: 100%;
}

.showcase-modal-content ul{
    list-style: none;
    text-align: center;
    margin-top: 2rem;
}

.showcase-modal-content li{
    display: inline-block;
    margin: 0.2rem;
    padding: 0.2rem;
}

.showcase-modal-content li > a{
    font-weight: 800;
    font-size: 1.5rem;
}

.showcase-modal-category {
    color: #000;
    text-decoration: none;
    font-weight: 800;
}

.showcase-modal-category:hover {
    opacity: 0.9;
    text-decoration: none;
    border-bottom: 2px solid #000;
}

#showcase-modal-portfolio-btn, #showcase-modal-code-btn {
    padding: 1rem;
    font-size: 1.8rem;
    font-weight: 500;
    border-radius: 10px;
    width: 11rem;
    background-color: var(--concept-color);
}

/* Text */
h1 {
    font-size: 4.5rem;
}
h2 {
    font-size: 4.0rem;
}
h3 {
    font-size: 3rem;
}
h4 {
    font-size: 2.8rem;
}

/* Text Style */
.text-xl {
    font-size: 3.3rem;
    margin-bottom: 1rem;
}

.text-lg {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.text-md {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

/* Button */
.btn {
    display: inline-block;
    background: var(--primary-color);
    color: #fff;
    padding : 0.4rem 1.3rem;
    font-size: 1rem;
    text-align: center;
    border: none;
    cursor : pointer;
    margin-right : 0.5rem;
    outline: none;
    box-shadow: 0 1px 0 rgba(0,0,0,0.45);
    border-radius: 2px;
}

.btn:hover {
    opacity: 0.8;
}
.btn-rounded {
    border-radius: 5px;
}

/*
##Device = Tablets, Ipads (landscape)
##Screen = B/w 768px to 1024px
##Device = 태블릿, 아이패드(가로)
##Screen = 768px에서 1024px 사이
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
   
}
    
/*
##Device = Low Resolution Tablets, Mobiles (Landscape)
##Screen = B/w 481px to 767px
##Device = 저해상도 태블릿, 모바일(가로)
##Screen = 481px에서 767px 사이
*/
    
@media (min-width: 481px) and (max-width: 767px) {
     /* sidebar menu */
     .sidebar-menu a {
        position: relative;
        text-decoration: none;
        left: 1rem;
        color: #fff;
        font-size: 1.5rem;
        font-weight: 800;
    }

    .showcase-menu-close {
        color: #aaaaaa;
        float: right;
        font-size: 30px;
        font-weight: bold;
        margin-right: 1rem;
        margin-bottom: 2rem;
    }

    /* showcase */
    .showcase {
        height: 100%;
        background: linear-gradient(189deg, var(--primary-color) 95%, #fff 5%);
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
        'image-profile'
        'image-profile'
        'showcase-about'
        'showcase-skill';
    }
    #showcase-portfolio-btn {
        margin-right: 6rem;
    }

    /* image profile */
    .image-profile {
        display: grid;
        align-items: center;
        justify-content: center;
    }
    .image-profile-background {
        float: none;
        width: 12rem;
        height: 100%;
        margin-right: 0;
        border-radius: 50%;
    }

    .image-profile img{
        float: none;
        height: 100%;
        width: 12rem;
        margin-right: 0;
    }
    .showcase-about > div {
        margin-left: 0;
    }

    .showcase-about-1-content {
        text-align: center;
    }

    .showcase-about-2-content {
        display: block;
        text-align: center;
    }

    /* showcase message content */
    .showcase-about {
        margin-bottom: 2rem;

        display: grid;
        align-items: center;
        justify-content: center;
    }

    .showcase-about-1-content p{
        font-weight: 800;
    }

    .showcase-about-2-content {
        display: grid;
        align-items: center;
        justify-content: center;
    }

    #showcase-portfolio-btn {
        width: 100%;
        float: none;
    }

    /* showcase modal */
    .showcase-modal-content {
        margin: 30% auto;
        width: 85%;
        height: 90%;
    }
    
    .showcase-modal-background {
        height: 55%;
        width: 95%;
    }

    .showcase-modal-content img{
        width: 100%;
        height: 100%;
    }

    .showcase-modal-content p {
        margin: 0.6rem;
    }
    .showcase-modal-content ul{
        margin-top: 1.2rem;
    }

    .showcase-modal-content li{
        display: inline-block;
        margin: 0.5rem;
        padding: 0.2rem;
    }

    .showcase-modal-content li > a{
        font-size: 0.8rem;
    }

    #showcase-modal-portfolio-btn, #showcase-modal-code-btn {
        padding: 0.5rem;
        font-size: 1rem;
        font-weight: 700;
        width: 8rem;
    }

    /* Text Style */
    .text-xl {
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }

    .text-lg {
        font-size: 1.8rem;
        margin-bottom: 1rem;
    }

    .text-md {
        font-size: 1.2rem;
        margin-bottom: 1rem;
    }
}

/*
##Device = Most of the Smartphones Mobiles (Portrait)
##Screen = B/w 320px to 479px
##Device = 대부분의 스마트폰 모바일 기기(세로)
##Screen = 320px에서 479px 사이
*/
@media (min-width: 320px) and (max-width: 480px) {
    /* sidebar menu */
    .sidebar-menu a {
        position: relative;
        text-decoration: none;
        left: 1rem;
        color: #fff;
        font-size: 1.5rem;
        font-weight: 800;
    }

    .showcase-menu-close {
        color: #aaaaaa;
        float: right;
        font-size: 30px;
        font-weight: bold;
        margin-right: 1rem;
        margin-bottom: 2rem;
    }

    /* showcase */
    .showcase {
        height: 100%;
        background: linear-gradient(189deg, var(--primary-color) 95%, #fff 5%);
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
        'image-profile'
        'image-profile'
        'showcase-about'
        'showcase-skill';
    }
    #showcase-portfolio-btn {
        margin-right: 6rem;
    }

    /* image profile */
    .image-profile {
        display: grid;
        align-items: center;
        justify-content: center;
    }
    .image-profile-background {
        float: none;
        width: 12rem;
        height: 100%;
        margin-right: 0;
        border-radius: 50%;
    }

    .image-profile img{
        float: none;
        height: 100%;
        width: 12rem;
        margin-right: 0;
    }
    .showcase-about > div {
        margin-left: 0;
    }
    .showcase-about-1-content {
        text-align: center;
    }

    .showcase-about-2-content {
        display: block;
        text-align: center;
    }

    /* showcase message content */
    .showcase-about {
        margin-bottom: 2rem;

        display: grid;
        align-items: center;
        justify-content: center;
    }

    .showcase-about-1-content p{
        font-weight: 800;
    }
    .showcase-about-2-content {
        display: grid;
        align-items: center;
        justify-content: center;
    }

    #showcase-portfolio-btn {
        width: 100%;
        float: none;
    }

    /* showcase modal */
    .showcase-modal-content {
        margin: 30% auto;
        width: 85%;
        height: 70%;
    }
    
    .showcase-modal-background {
        height: 35%;
        width: 95%;
    }
    .showcase-modal-content img{
        width: 100%;
        height: 100%;
    }

    .showcase-modal-content p {
        margin: 1rem;
    }
    .showcase-modal-content ul{
        margin-top: 1.2rem;
    }

    .showcase-modal-content li{
        display: inline-block;
        margin: 0.5rem;
        padding: 0.2rem;
    }

    .showcase-modal-content li > a{
        font-size: 0.8rem;
    }

    #showcase-modal-portfolio-btn, #showcase-modal-code-btn {
        padding: 0.5rem;
        font-size: 1rem;
        font-weight: 700;
        width: 8rem;
    }

    /* Text Style */
    .text-xl {
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }

    .text-lg {
        font-size: 1.8rem;
        margin-bottom: 1rem;
    }

    .text-md {
        font-size: 1.2rem;
        margin-bottom: 1rem;
    }
}