* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #2d2013;
    color: #fff;
}
.container {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 1.5rem;
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

input,
button {
  border: 1px solid #dedede;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  font-size: 14px;
  padding: 8px 10px;
  margin: 0;
}

input[type="text"] {
    width: 300px;
    height: 2.3rem;
}